/* :root{
    --red: red;
}

:root{
    background-color: var(--red);
} */
/*norma*/

ul{
    list-style-type: none;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100vh;
    display: flex;
}

#left, #right {
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
}

main > div {
    grid-column-start: span 3;
}

#sign-up{
    align-self: start;
    display: flex;
    flex: 1 0 100%;
}



#ilu{
    width: 600px;
}


